@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

	time
	{
		@apply text-my-light text-base my-0
	}

	hr
    {
        border: none;
        border-top: 1px solid rgb(133, 148, 190, 35%);
        @apply w-full;
    }

	h6,
	h5,
	h4,
	h3,
	h2,
	h1 {
		@apply text-my-dark font-bold;
	}

	.h1 {
		@apply text-4xl
	}

	.h2 {
		@apply text-3xl
	}

	h1 {
		@apply text-4xl;
	}
	h2 {
		@apply text-3xl;
	}
	h3 {
		@apply text-2xl;
	}
	h4 {
		@apply text-xl;
	}
	h5 {
		@apply text-lg;
	}
	h6 {
		@apply text-base;
	}

	code {
		padding: 2px 5px;
		/*background-color: rgb(var(--gray-light));*/
		border-radius: 2px;
		@apply w-full
	}

	pre {
		padding: 1.5em;
		border-radius: 8px;
		@apply w-full
	}

	pre > code {
		all: unset;
		@apply w-full
	}

	blockquote {
		/*border-left: 4px solid var(--accent);*/
		padding: 0 0 0 20px;
		margin: 0;
		font-size: 1.333em;
	}

	blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
		margin: revert;
	}

	ol, ul, menu {
		list-style: revert;
		padding: revert;
	}

	img {
		@apply drop-shadow;
		@apply w-full h-auto rounded-lg;
	}

	.my-hover-scale
	{
		@apply hover:scale-110 transition-transform duration-300 ease-in-out
	}

	.my-recommended-hover
	{
		@apply hover:scale-[1.009] transition-transform duration-300 ease-in-out
	}

	.my-recommended-title
	{
		@apply mb-2 mt-0 text-my-white leading-none hover:underline bg-my-accent-dark p-2 rounded-b-lg
	}

	.my-title
	{
		@apply mb-2 mt-4 text-my-dark leading-none hover:underline
	}

	.my-body {
		font-family: "Atkinson", sans-serif;
		@apply m-0 p-0 text-left text-xl bg-my-white;
	}

	.my-content
	{
		@apply flex flex-col min-h-screen;

		@apply mx-auto max-w-xs flex flex-col gap-4;

		@apply sm:max-w-xl;

		@apply md:max-w-2xl;

		@apply large:max-w-4xl;
	}

	.my-header
	{
		@apply pt-8 pb-0;
	}

	.my-page-name
	{
		@apply m-0 p-0 font-mono;

		@apply text-right text-2xl;

		@apply popular:text-3xl;
	}

	.my-nav
	{
		@apply flex flex-row-reverse gap-8;

		@apply sm:flex-row sm:place-content-between;
	}

	.my-nav-buttons
	{
		@apply flex flex-row place-content-between items-center;
	}


	.my-main
	{
		@apply flex flex-col grow justify-center items-center m-auto gap-4;
	}

	.my-footer
	{
		@apply flex place-content-between text-my-light text-opacity-60 items-center py-8 pb-4 text-sm mt-8;

		@apply sm:text-xl
	}

	.my-not-found
	{
		@apply flex flex-col items-center justify-center gap-1 text-center
	}

	.my-recommended-post
	{
		@apply flex flex-col justify-center
	}

	.my-posts {

	}

	.my-posts > ul {

		@apply p-0 list-none flex flex-col gap-8 items-center;

		@apply md:flex-row md:flex-wrap md:place-content-evenly;
	}

	.my-post-item {

		@apply flex flex-col place-content-between;

		@apply md:w-5/12;
	}


	.my-post
	{

	}

	.my-post-header
	{
		@apply flex flex-col text-center;
	}

	.my-post-content
	{
		@apply flex flex-wrap items-center text-left m-0;
	}

	.my-post-content > ul, ol
	{
		@apply flex flex-wrap gap-8;
	}

	.my-post-content > ol > li
	{
		@apply w-full mx-5;
	}

	.my-post-content > ul > li
	{
		@apply w-full mx-5;
	}

	.my-post-content > ol > li > img
	{
		@apply rounded-lg w-full h-auto mt-4;
	}

	.my-post-content > ul > li > img
	{
		@apply rounded-lg w-full h-auto mt-4;
	}

}