---
import MainLayout from "~/layouts/MainLayout.astro";
---

<MainLayout>
	<main>
		<section class="my-not-found">
            <h1>404</h1>
            <p>Page not found</p>
		</section>
	</main>
</MainLayout>