---
const today = new Date();
import { Icon } from 'astro-icon';
---

<footer class="my-footer">
      <small>Copyright &copy; {today.getFullYear()} Thomas Pufahl | All rights reserved.</small>
      <small>
            <a href="/rss.xml">
                  Go to RSS
                  <Icon name="tabler:rss" width="20" height="20" class="inline"/>
            </a>
      </small>
</footer>
