---
import FormattedDate from "./FormattedDate.astro";

const {
    author,
    lastmod
} = Astro.props

---


<footer class="my-post-footer">
    <hr/>
    <p class="text-base">
        Escrito por <strong>{author}</strong>.
        Última actualización <FormattedDate date={lastmod}/>
    </p>
</footer>