---
import PostCard from "./PostCard.astro";

import { formatBlogPosts } from "~/js/utils";

const POSTS = await Astro.glob("./../content/blog/*.md")

const FORMMATED_POSTS = formatBlogPosts(POSTS)
---
<section class="my-posts">
    <ul>
        {
            FORMMATED_POSTS.map((post) => <PostCard { post } />)
        }
    </ul>
</section>