---
import FormattedDate from "./FormattedDate.astro"
import {Image} from "@astrojs/image/components";

const POSTS = await Astro.glob("./../content/blog/*.md")

import { findRecommendedPost } from "~/js/utils";
import PostCard from "./PostCard.astro";

const post = findRecommendedPost(POSTS)

const isRecommended = true
---
<section class="my-recommended-post">
    <PostCard {post} {isRecommended}/>
</section>
